# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [3]:
#Your code here

df.rename(columns={"C/A":"c/a"})

df.columns = [column_name.lower() for column_name in df.columns]

In [4]:
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Change the Index to be the Line Names

In [5]:
#Your code here

df.index = df.linename

In [6]:
df.reset_index(drop=True)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941
...,...,...,...,...,...,...,...,...,...,...,...
197595,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,01:00:00,REGULAR,5554,348
197596,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,05:00:00,REGULAR,5554,348
197597,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,09:00:00,REGULAR,5554,348
197598,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,13:00:00,REGULAR,5554,348
197599,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,17:00:00,REGULAR,5554,348
197600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,21:00:00,REGULAR,5554,348
197601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,01:00:00,REGULAR,5554,348
197602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,05:00:00,REGULAR,5554,348
197603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,09:00:00,REGULAR,5554,348
197604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,13:00:00,REGULAR,5554,348
197605,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,17:00:00,REGULAR,5554,348
197606,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,21:00:00,REGULAR,5554,348
197607,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,01:00:00,REGULAR,5554,348
197608,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,05:00:00,REGULAR,5554,348
197609,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,09:00:00,REGULAR,5554,348
197610,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,13:00:00,REGULAR,5554,348
197611,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,17:00:00,REGULAR,5554,348
197612,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,21:00:00,REGULAR,5554,348
197613,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,01:00:00,REGULAR,5554,348
197614,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,05:00:00,REGULAR,5554,348
197615,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,09:00:00,REGULAR,5554,348
197616,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,13:00:00,REGULAR,5554,348
197617,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,17:00:00,REGULAR,5554,348
197618,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,21:00:00,REGULAR,5554,348
197619,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,01:00:00,REGULAR,5554,348
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348

In [7]:
#for every station, how many unique linenames exist

## change the index back

In [8]:
help(pd.DataFrame.so)

AttributeError: type object 'DataFrame' has no attribute 'so'

In [9]:
# Your code here
df.index = range(197625)

## Painstakingly Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order

In [10]:
# Your code here


nunique_map = df.groupby([df.station]).linename.nunique()

df["Num_Lines"] = [nunique_map[station_name] for station_name in df.station]

In [11]:
df.sort_values("Num_Lines")

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines
98812,N528,R257,01-06-01,EAST BROADWAY,F,IND,08/31/2018,08:00:00,REGULAR,3118060,2484444,1
113980,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/31/2018,12:02:09,REGULAR,935646,1298481,1
113981,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/31/2018,16:14:09,REGULAR,935967,1298959,1
113982,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/31/2018,20:26:09,REGULAR,936279,1299823,1
113983,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/25/2018,03:39:25,REGULAR,404642,330523,1
113984,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/25/2018,07:51:25,REGULAR,404668,330528,1
113985,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/25/2018,12:03:25,REGULAR,404838,330556,1
113986,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/25/2018,16:15:25,REGULAR,405091,330601,1
113987,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/25/2018,20:27:25,REGULAR,405290,330696,1
113988,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,00:39:25,REGULAR,405362,330776,1
113989,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,04:51:25,REGULAR,405365,330782,1
113990,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,09:03:25,REGULAR,405397,330784,1
113991,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,13:15:25,REGULAR,405515,330792,1
113992,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,17:41:25,REGULAR,405659,330845,1
113993,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/26/2018,21:53:25,REGULAR,405735,330874,1
113994,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/27/2018,02:05:25,REGULAR,405746,330877,1
113979,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/31/2018,07:50:09,REGULAR,934938,1298167,1
113978,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/31/2018,03:38:09,REGULAR,934818,1298092,1
113977,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/30/2018,23:26:09,REGULAR,934807,1298023,1
113976,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/30/2018,19:14:09,REGULAR,934706,1297424,1
113960,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,00:02:09,REGULAR,929807,1293217,1
113961,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,04:14:09,REGULAR,929809,1293236,1
113962,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,08:26:09,REGULAR,930154,1293331,1
113963,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,12:38:09,REGULAR,930876,1293481,1
113964,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,16:50:09,REGULAR,931092,1293652,1
113965,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/28/2018,21:02:09,REGULAR,931422,1294470,1
113966,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/29/2018,01:14:09,REGULAR,931457,1294685,1
113995,PTH06,R546,00-00-09,PAVONIA/NEWPORT,1,PTH,08/27/2018,06:17:25,REGULAR,405759,330878,1
113967,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/29/2018,05:26:09,REGULAR,931466,1294692,1
113969,PTH06,R546,00-00-08,PAVONIA/NEWPORT,1,PTH,08/29/2018,13:50:09,REGULAR,932619,1295040,1
...,...,...,...,...,...,...,...,...,...,...,...,...
136568,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,21:00:00,REGULAR,4066129,1167288,4
136567,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,17:00:00,REGULAR,4065856,1167214,4
136566,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,13:00:00,REGULAR,4065532,1167131,4
136565,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,09:00:00,REGULAR,4065223,1167050,4
136564,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,05:00:00,REGULAR,4064905,1166922,4
136563,R164,R167,00-03-02,86 ST,1,IRT,08/27/2018,01:00:00,REGULAR,4064894,1166921,4
136562,R164,R167,00-03-02,86 ST,1,IRT,08/26/2018,21:00:00,REGULAR,4064806,1166912,4
136561,R164,R167,00-03-02,86 ST,1,IRT,08/26/2018,17:00:00,REGULAR,4064591,1166875,4
136560,R164,R167,00-03-02,86 ST,1,IRT,08/26/2018,13:00:00,REGULAR,4064357,1166811,4
136575,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,01:00:00,REGULAR,4067584,1167708,4
136595,R164,R167,00-03-03,86 ST,1,IRT,08/25/2018,09:00:00,REGULAR,20126182,5354946,4
136576,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,05:00:00,REGULAR,4067589,1167713,4
136578,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,13:00:00,REGULAR,4068267,1167948,4
136593,R164,R167,00-03-03,86 ST,1,IRT,08/25/2018,01:00:00,REGULAR,20126029,5354846,4
136592,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,21:00:00,REGULAR,4071660,1168917,4
136591,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,17:00:00,REGULAR,4071364,1168868,4
136590,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,13:00:00,REGULAR,4070995,1168757,4
136589,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,09:00:00,REGULAR,4070697,1168671,4
136588,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,05:00:00,REGULAR,4070465,1168539,4
136587,R164,R167,00-03-02,86 ST,1,IRT,08/31/2018,01:00:00,REGULAR,4070455,1168536,4
136586,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,21:00:00,REGULAR,4070359,1168520,4
136585,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,17:00:00,REGULAR,4070038,1168452,4
136584,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,13:00:00,REGULAR,4069694,1168355,4
136583,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,09:00:00,REGULAR,4069355,1168260,4
136582,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,05:00:00,REGULAR,4069073,1168129,4
136581,R164,R167,00-03-02,86 ST,1,IRT,08/30/2018,01:00:00,REGULAR,4069067,1168126,4
136580,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,21:00:00,REGULAR,4068944,1168115,4
136579,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,17:00:00,REGULAR,4068626,1168036,4
136577,R164,R167,00-03-02,86 ST,1,IRT,08/29/2018,09:00:00,REGULAR,4067882,1167853,4
44902,N026,R102,00-00-00,125 ST,ACBD,IND,08/31/2018,08:00:00,REGULAR,392247161,323784476,4

## Write a function to clean a column name

In [12]:
def clean(col_name):
    cleaned = #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

SyntaxError: invalid syntax (<ipython-input-12-70c6856d09fa>, line 2)

In [13]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

NameError: name 'clean' is not defined

In [ ]:
#Checking the output, we can see the results.
df.columns

## Compare subway traffic by day of the week. Display this as a graph.

In [15]:
df.date = pd.to_datetime(df.date)

In [16]:
df["Day"] = df.date.map(lambda date : date.weekday)

In [17]:
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines,Day
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,00:00:00,REGULAR,6736067,2283184,3,<built-in method weekday of Timestamp object a...
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,04:00:00,REGULAR,6736087,2283188,3,<built-in method weekday of Timestamp object a...
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,08:00:00,REGULAR,6736105,2283229,3,<built-in method weekday of Timestamp object a...
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,12:00:00,REGULAR,6736180,2283314,3,<built-in method weekday of Timestamp object a...
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,16:00:00,REGULAR,6736349,2283384,3,<built-in method weekday of Timestamp object a...

In [ ]:
df.groupby(df.Day).count()

In [33]:
help(pd.datetime.)#Your code here

Help on class datetime in module datetime:

class datetime(date)
 |  datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
 |
 |  The year, month and day arguments are required. tzinfo may be None, or an
 |  instance of a tzinfo subclass. The remaining arguments may be ints.
 |
 |  Method resolution order:
 |      datetime
 |      date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __reduce_ex__(...)
 |      __reduce_ex__(proto) -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  astimezone(...)
 |      tz -> convert to local time in new timezone tz
 |
 |  combine(...) from builtins.type
 |      date, time -> datetime with same date and time fields
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  date(...)
 |      Return date object with same year, month and day.
 |
 |  dst(...)
 |      Return self.tzinfo.dst(self).
 |
 |  fromtimestamp(...) from builtins.type
 |      timestamp[, tz] -> tz's local time from POSIX timestamp.
 |
 |  isoformat(...)
 |      [sep] -> string in ISO 8601 format, YYYY-MM-DDT[HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
 |      sep is used to separate the year from the time, and defaults to 'T'.
 |      timespec specifies what components of the time to include (allowed values are 'auto', 'hours', 'minutes', 'seconds', 'milliseconds', and 'microseconds').
 |
 |  now(tz=None) from builtins.type
 |      Returns new datetime object representing current time local to tz.
 |
 |        tz
 |          Timezone object.
 |
 |      If no tz is specified, uses local timezone.
 |
 |  replace(...)
 |      Return datetime with new specified fields.
 |
 |  strptime(...) from builtins.type
 |      string, format -> new datetime parsed from a string (like time.strptime()).
 |
 |  time(...)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timestamp(...)
 |      Return POSIX timestamp as float.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(...)
 |      Return time object with same time and tzinfo.
 |
 |  tzname(...)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcfromtimestamp(...) from builtins.type
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |  utcnow(...) from builtins.type
 |      Return a new datetime representing UTC day and time.
 |
 |  utcoffset(...)
 |      Return self.tzinfo.utcoffset(self).
 |
 |  utctimetuple(...)
 |      Return UTC time tuple, compatible with time.localtime().
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  fold
 |
 |  hour
 |
 |  microsecond
 |
 |  minute
 |
 |  second
 |
 |  tzinfo
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
 |
 |  min = datetime.datetime(1, 1, 1, 0, 0)
 |
 |  resolution = datetime.timedelta(0, 0, 1)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from date:
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  isocalendar(...)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from date:
 |
 |  day
 |
 |  month
 |
 |  year

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes

In [ ]:
#Your code here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.